.appointment-page{
    width: 100%;
    height: 1200px;
    background: #d6e0f5;
}

.txt1{
    float: left;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 110px;
    margin-right: 0;
    margin-bottom: 5px;

}

input[type=submit] {
    width: 80%;
    background-color: #85a3e0;
    color: white;
    padding: 14px 20px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5c85d6;
}


input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d6e0f5;
    border-radius: 4px;
    box-sizing: border-box;
}


.appointment100-form-btn {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    background: #555555;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-left: 20%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.appointment100-form-btn:hover {
    background: #333333;
}
