table{
    margin-top:1%;
    margin-left:200px;
}
tr{
    padding: 10px;
}
td{
    padding: 10px;
}


input[type=submit] {
    width: 80%;
    background-color: #85a3e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5c85d6;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    margin-top:15px;
    box-sizing: border-box;
    border: 2px solid #d6e0f5;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d6e0f5;
    border-radius: 4px;
    box-sizing: border-box;
}
