h2{
    text-align: center;
    font-size: 43px;
    max-width: 650px;
    margin-left: 30%;
    line-height: 49px;
    color: #142952;
    margin-top: 60px;
}

.step-arrow {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30%;
}
.step-arrow-space2 {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 35%;
}
.step-arrow-space1 {
    display: block;
    margin-top: 40px;
    margin-left: 35%;
}

.happy-Customer{
    display: block;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left:42%;
}

.myImage {
    float: left;
    margin-left: 7%;
    font-family: Veranda;
}
.myImageR {
    float: right;
    margin-right: 7%;
    font-family: Veranda;

}
.classR {
    padding-left: 40px;
    margin-left: 50%;
    margin-right: 7%;
    font-size: 22px;
    text-align: justify;
}
.classL {
    padding-right: 40px;
    margin-left: 7%;
    float: left;
    font-size: 22px;
    text-align: justify;
}

.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 420px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 380px;
    height: 250px;
}

.desc {
    padding: 15px;
    text-align: center;
}