.profile-page{
    width: 100%;
    height: 893px;
    background: #d6e0f5;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.profile-inputs{
    width:850px;
}

.txt1{
    float: left;
    font-family: sans-serif;
    font-size: 18px;

    margin-left: 35px;
    margin-bottom: 5px;

}

.profile-input{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    display: block;
    width: 90%;
    height: 50px;
    border-radius: 25px;
    padding: 10px 30px 0 50px;
}

.container-profile100 {
    width: 100%;
    height: 806px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #d6e0f5;
}

.wrap-profile100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 130px 133px 95px;
}

.profile100-form {
    width: 290px;
}

.profile100-form-title {
    font-family: sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 30px;
}


.symbol-input{
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 25px;
    top:-45px;
    left: -10px;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.profile100-form-btn {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 70%;
    height: 50px;
    border-radius: 25px;
    background: #555555;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-left: 10%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.profile100-form-btn:hover {
    background: #333333;
}
