h2{
    margin-top: 22px;
    margin-bottom: 25px;
    margin-left: 18%;
    font-size: 25px;
    font-family: Arial, Helvetica,Verdana;
}

table{
    margin-left: 20%;
    margin-bottom: 100px;
}

#tabelTarife {
    font-family: Arial, Helvetica,Verdana;
    border-collapse: collapse;
    width: 60%;
}

#tabelTarife td, #tabelTarife th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabelTarife tr:nth-child(even){
    background-color: #ebf0fa;
}

#tabelTarife tr:hover {
    background-color: #adc2eb;
}

#tabelTarife th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5d85d5;
    color: white;
}