.container{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana;
    position: relative;
    padding: 0;
}

body {
    margin: 0;
}

.menu {
    background-color: #142952;
    overflow: auto;
    height: 75px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana;
    font-size: 25px;
    color: #ebf0fa;

}

.menu  ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #ebf0fa;
}

.menu a:visited {
    color: #ebf0fa;
}

.menu .menu-item {
    float: left;
    border-radius: 25px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 15px 15px 0px 15px;
    height: 50px;
}

.menu .menu-item:hover {
    background-color: #5c85d6;
}

#logo{
    float: right;
}

#limbaEn{
    float: right;
}

#limbaRo{
    float: right;
}


#pozaPrez{
    height: 170%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(70, 117, 210, 0.3);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 1s ease;
    transition-delay: 0.2s;
}

.container:hover .overlay {
    width:100%;
}

.text {
    white-space: nowrap;
    color: #142952;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img-doctor{
    margin-right: 10px;
    border-radius: 50%;
    margin-left:20px;
}


.container-numedr{
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    background-color: #d1d1e0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}

.buttonM{
    background-color: #555555;
    border: none;
    color: white;
    width: 100%;
    margin-top:10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-bottom-left-radius: 25px ;
    border-bottom-right-radius: 25px;
}

.buttonP{
    background-color: #555555;
    border: none;
    color: white;
    margin-top:30px;
    margin-left: 20px;
    font-size: 16px;
    padding: 20px 45px;
    text-align: center;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top:10px;

}


.set-margin-left-20px{
    margin-left: 20px;
}

.set-margin-left-40px{
    margin-left: 40px;
}

.set-margin-left-60px{
    margin-left: 60px;
}

.set-margin-left-80px{
    margin-left: 40px;
}

.set-margin-left-170px{
    margin-left: 170px;
}

.set-margin-left-30proc{
    margin-left: 30%;
}

.set-margin-top-40px{
    margin-top: 40px;
}

.set-margin-top-60px{
    margin-top: 60px;
}

.set-margin-right-10px{
    margin-right: 10px;;
}

.set-margin-right-12px{
    margin-right: 12px;;
}

.set-margin-right-60px{
    margin-right: 60px;
}

.corner-margin{
    margin-left: 100px;
    margin-top: 40px;
}

.containerDetails{

    margin-left: 200px;
    margin-right: 200px;
    margin-top:30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana;
    position: relative;
    padding: 10px;
}

.containerDetails h1{
    margin-top:0px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana;
    font-size: 35px;
}

.containerDetails p{
    margin-top: 20px;
    font-size: 25px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    font-family:  "Segoe UI", Tahoma, Geneva, Verdana;
}

.containerMovie{
    margin-left: 50px;
}

.containerMovie img{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dataContainer{
    font-family:  "Segoe UI", Tahoma, Geneva, Verdana;
    background-color: #5d85d5;
    border: none;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 25px;
    margin-top:10px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: #777777;
    color: white;
    text-align: center;
}


.dimContactForm{
    height: 80%;
    width: 120%;

    padding:10px;
    border: 5px solid #d6e0f5;
    border-radius: 4px;
}



.whyusContainer{
    width: 80%;
}

.pagination {
    margin-top: 30px;
    margin-left: 37%;
    display: inline-block;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
}

.pagination a.active {
    background-color: #5c85d6;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #adc2eb;
    border-radius: 5px;
}





